# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Project
dist
.env*
*.local
.*cache

# Packages
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
